/* 
h1 {

padding-left: 11.5em;
}

p {
padding-left: 23em;
}
 */

#fig-1 {
 
  position: fixed;
  top: 40%;
  width: 50%;
  padding-left: 7em;
  padding-right: 9em;
  
  }

h2 {
color: black;
background: black;

}

.col-half {
  margin-left: 50%;
  }
  
h1 {
color: #F0F8FF;
}

p {  
color: #F0F8FF;
}

html {
background: black;
}